
.Container {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content:space-between;
  width: auto;
  background-color: rgba(16, 78, 30, 0.205);
}
body{

  background-image: url("https://images.unsplash.com/photo-1628676403821-b3c60cdf21de?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=464&q=80");
  background-size:cover; 
  width: 100%;

}