
.cardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.card {
  width: 140px;
  margin-top: 20px;
  margin-bottom:20px ;
  border: 2px solid rgba(33, 190, 183, 0.932);
  padding: 6px;
  background-color: #f2f2f2be;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s;
  animation:scale-up-horizontal-center 0.4s} @keyframes scale-up-horizontal-center{0%{transform:scaleX(.2)}100%{transform:scaleX(1)}}
.card:hover {
  transform: scale(1.2);
  color: rgb(238, 238, 248);
  background-color: rgba(0, 0, 0, 0.219);
}

.cardImage {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 2px solid rgba(20, 1, 1, 0.829);
}

.cardInfo {
  font-size: 14px;
  margin-bottom: 5px;
}
